* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: hsl(304, 73%, 77%);  /* тёмный фон, как на фото */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    padding: 20px;
        }


.buttons-container {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.messeg {
    font-size: 36px;
    font-weight: bold;
    background: #c80172;
    background-clip: text;
    color: transparent;
}



 /* Стили кнопок */
.button {
    padding: 14px 32px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 60px;
    background-color: #ae0ef8;
    color: aliceblue;

}


@media (max-width: 480px) {
            .question {
                font-size: 26px;
                margin-bottom: 36px;
            }
            .btn {
                padding: 10px 24px;
                font-size: 20px;
                min-width: 110px;
            }
        }
